<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="categoryMapper">

<!-- DB에 있는 상품 개수 -->
<select id="getProductCount" parameterType="hashMap" resultType="int">
	select nvl(count(*),0) from PRODUCT_INFO
	where prod_category1 like '%'|| #{category1} ||'%'
	and prod_category2 like '%'|| #{category2} ||'%'
</select>

<!-- 상품 전체 리스트 출력  -->
<select id="getAllProductList" parameterType="hashMap" resultType="categoryDTO">
	select * from(
	select rownum rnum, data.* from(
	select PROD_SUBCODE,PROD_CONTENTS,PROD_PRICE,PROD_CATEGORY1,PROD_CATEGORY2,PROD_STYLE,PROD_COUNT,PROD_GENDER
 	FROM PRODUCT_INFO where prod_category1 like '%'||#{category1}||'%' and prod_category2 like '%'||#{category2}||'%') data)
 	<![CDATA[
	where rnum>=#{start} and rnum<=#{end}
	]]>
</select>

<!-- 가격 높은순 리스트 출력  -->
<select id="getExpensiveProductList" parameterType="hashMap" resultType="categoryDTO">
	select * from(
	select rownum rnum, data.* from(
	select PROD_SUBCODE,PROD_CONTENTS,PROD_PRICE,PROD_CATEGORY1,PROD_CATEGORY2,PROD_STYLE,PROD_COUNT,PROD_GENDER
 	FROM PRODUCT_INFO where prod_category1 like '%'|| #{category1} ||'%'
	and prod_category2 like '%'|| #{category2} ||'%' ORDER BY PROD_PRICE DESC) data)
 	<![CDATA[
	where rnum>=#{start} and rnum<=#{end}
	]]>
</select>

<!-- 가격 낮은순 리스트 출력  -->
<select id="getCheapProductList" parameterType="hashMap" resultType="categoryDTO">
	select * from(
	select rownum rnum, data.* from(
	select PROD_SUBCODE,PROD_CONTENTS,PROD_PRICE,PROD_CATEGORY1,PROD_CATEGORY2,PROD_STYLE,PROD_COUNT,PROD_GENDER
 	FROM PRODUCT_INFO where prod_category1 like '%'|| #{category1} ||'%'
	and prod_category2 like '%'|| #{category2} ||'%' ORDER BY PROD_PRICE ASC) data)
 	<![CDATA[
	where rnum>=#{start} and rnum<=#{end} 
	]]>
</select>

<!-- 많은 조회순 리스트 출력  -->
<select id="getHighViewOrderProductList" parameterType="hashMap" resultType="categoryDTO">
	select * from(
	select rownum rnum, data.* from(
	select p.PROD_SUBCODE,p.PROD_PRICE,r.avgscore,p.prod_count
 	FROM PRODUCT_INFO p,
 	(select p.prod_subcode,sum(nvl(pi.prod_count,0)) prod_count,nvl(round(avg(r.review_score),1),0) avgscore 
 	from review r,product p,product_info pi
 	where p.prod_code=r.prod_code(+)
 	group by p.prod_subcode ) r 
 	where r.prod_subcode=p.prod_subcode and prod_category1 like '%'|| #{category1} ||'%'
	and prod_category2 like '%'|| #{category2} ||'%' ) data)
	<![CDATA[
	where rnum>=#{start} and rnum<=#{end} ORDER BY PROD_COUNT DESC
	]]>
</select>

<!-- 적은 조회순 리스트 출력  -->
<select id="getLowViewOrderProductList" parameterType="hashMap" resultType="categoryDTO">
	select * from(
	select rownum rnum, data.* from(
	select PROD_SUBCODE,PROD_CONTENTS,PROD_PRICE,PROD_CATEGORY1,PROD_CATEGORY2,PROD_STYLE,PROD_COUNT,PROD_GENDER
 	FROM PRODUCT_INFO where prod_category1 like '%'|| #{category1} ||'%'
	and prod_category2 like '%'|| #{category2} ||'%' ORDER BY PROD_COUNT ASC) data)
 	<![CDATA[
	where rnum>=#{start} and rnum<=#{end} 
	]]>
</select>

<!-- 많은 리뷰순 리스트 출력  -->
<select id="getManyReviewCountProductList" parameterType="hashMap" resultType="categoryDTO">
	select * from(
		select rownum rnum, data.* 
		from
			(
				select pi.prod_subcode,pi.prod_price,r.avgscore
	 			FROM product_info pi,
	 				(
	 					select b.prod_subcode,nvl(round(avg(a.review_score),1),0) avgscore,sum(case nvl(a.prod_code, ' ') when ' ' then 0 else 1 end) as recount
						from review a, product b 
						where a.prod_code(+)=b.prod_code
						group by b.prod_subcode
						order by recount desc
	 				) r
	 	 		where r.prod_subcode=pi.prod_subcode 
	 	 		and prod_category1 like '%'|| #{category1} ||'%'
				and prod_category2 like '%'|| #{category2} ||'%'
			) data
		)
	<![CDATA[
	where rnum>=#{start} and rnum<=#{end}
	]]>
</select>

<!-- 적은 리뷰순 리스트 출력  -->
<select id="getLittleReviewCountProductList" parameterType="hashMap" resultType="categoryDTO">
	select * from(
	select rownum rnum, data.* from(
	select PROD_SUBCODE,PROD_CONTENTS,PROD_PRICE,PROD_CATEGORY1,PROD_CATEGORY2,PROD_STYLE,PROD_COUNT,PROD_GENDER
 	FROM PRODUCT_INFO where prod_category1 like '%'|| #{category1} ||'%'
	and prod_category2 like '%'|| #{category2} ||'%') data)
 	<![CDATA[
	where rnum>=#{start} and rnum<=#{end} ORDER BY PROD_COUNT ASC
	]]>
</select>

<!-- 높은 별점순 리스트 출력  -->
<select id="getHighStarRatingProductList" parameterType="hashMap" resultType="categoryDTO">
	select * from(
		select rownum rnum, data.* 
		from
			(
				select pi.prod_subcode,pi.prod_price,r.avgscore
	 			FROM product_info pi,
	 				(
	 					select b.prod_subcode,nvl(round(avg(a.review_score),1),0) avgscore,sum(nvl(a.review_score,0)) rescore
						from review a, product b 
						where a.prod_code(+)=b.prod_code
						group by b.prod_subcode
						order by rescore desc
	 				) r
	 	 		where r.prod_subcode=pi.prod_subcode 
	 	 		and prod_category1 like '%'|| #{category1} ||'%'
				and prod_category2 like '%'|| #{category2} ||'%'
			) data
		)
	<![CDATA[
	where rnum>=#{start} and rnum<=#{end}
	]]>
</select>

<!-- 낮은 별점순 리스트 출력  -->
<select id="getLowStarRatingProductList" parameterType="hashMap" resultType="categoryDTO">
	select * from(
	select rownum rnum, data.* from(
	select PROD_SUBCODE,PROD_CONTENTS,PROD_PRICE,PROD_CATEGORY1,PROD_CATEGORY2,PROD_STYLE,PROD_COUNT,PROD_GENDER
 	FROM PRODUCT_INFO where prod_category1 like '%'|| #{category1} ||'%'
	and prod_category2 like '%'|| #{category2} ||'%') data)
 	<![CDATA[
	where rnum>=#{start} and rnum<=#{end} ORDER BY PROD_COUNT ASC
	]]>
</select>

</mapper>