<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- ANSI SQL QUERY -->
<mapper namespace="paymentMapper">

<!-- 상품 코드 정보 -->
<select id="getProdInfo" parameterType="productDTO" resultType="hashMap">
	SELECT 	A.PROD_SUBCODE, A.PROD_COLOR||'/'||A.PROD_SIZE AS PROD_OPTION, B.PROD_PRICE	
	FROM 	PRODUCT A 
	INNER JOIN PRODUCT_INFO B 
	ON 		(A.PROD_SUBCODE = B.PROD_SUBCODE)
	WHERE 	A.PROD_SUBCODE = #{PROD_SUBCODE}
	AND 	A.PROD_COLOR = #{PROD_COLOR}
	AND 	A.PROD_SIZE = #{PROD_SIZE}
</select>

<!-- 카트 상품 코드 정보 -->
<select id="getCartProdInfo" resultType="hashMap">
	SELECT 	B.PROD_SUBCODE, B.PROD_COLOR||'/'||B.PROD_SIZE AS PROD_OPTION, C.PROD_PRICE, A.CART_QTY
	FROM 	CART A 
	INNER JOIN PRODUCT B 
	ON 		(A.PROD_CODE = B.PROD_CODE)
	INNER JOIN PRODUCT_INFO C
	ON 		(B.PROD_SUBCODE = C.PROD_SUBCODE)
</select>

<!-- 오더 인서트  -->
<insert id="insertOrderMain" parameterType="paymentDTO">
	INSERT INTO order_main 
	(order_code, user_id, user_tel, order_contents, order_status, 
	order_qty, order_amount, delivery_addr1, delivery_addr2, order_created) 
	values 
	(to_char(sysdate,'YYYYMMDDHHMISS'), #{user_id}, #{user_tel}, #{order_contents}, '100', 
	0, 0, #{delivery_addr1}, #{delivery_addr2}, sysdate)
</insert>


</mapper>